@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";

/* google fonts */
#font-inter {
  font-family: "Inter", sans-serif;
}
#font-antonio {
  font-family: "Antonio", sans-serif;
}
/* -------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 8px;
  overflow-x: hidden;
}
/* navbar css */
.nav-container {
  padding: 8px;
}
.nav-container .navbar-logo {
  width: 36px;
  height: 36px;
}
.nav-container .nav-content {
  background: #fff;
  display: flex;
  height: 80px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 12px;
}
.nav-content .humburger-menu {
  cursor: pointer;
  transition: all linear 0.3s;
  width: 69px;
  height: 16px;
}
.nav-content .humburger-menu:hover {
  scale: 1.1;
}

/* navbar @media query */
@media (min-width: 320px) {
  .nav-container .navbar-logo {
    width: 30px;
    height: 30px;
  }
  .nav-content .humburger-menu {
    cursor: pointer;
    transition: all linear 0.3s;
    width: 49px;
    height: 12px;
  }
  .nav-container .nav-content {
    display: flex;
    height: 56px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
  }
}
@media (min-width: 1280px) {
  .nav-container .navbar-logo {
    width: 36px;
    height: 36px;
  }
  .nav-container .nav-content {
    background: #fff;
    display: flex;
    height: 80px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
  }
  .nav-content .humburger-menu {
    cursor: pointer;
    transition: all linear 0.3s;
    width: 69px;
    height: 16px;
  }
  .nav-content .humburger-menu:hover {
    scale: 1.1;
  }
}

/* banner css */
.banner-container {
  padding: 0 8px;
  height: 1070px;
}
.banner-container .banner-content h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 350px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #3c464e;
  text-transform: uppercase;
}
.banner-container .banner-content .studio {
  color: #2e353b;
  font-size: 38px;
  line-height: 43.056px;
  letter-spacing: -1.14px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.banner-container .banner-content .banner-p {
  width: 140px;
  color: #2e353b;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  position: absolute;
  bottom: 30px;
  right: 28px;
}
.banner-container .banner-content .banner-img {
  width: 729.191px;
  height: 842.27px;
  position: absolute;
  top: 227px;
  pointer-events: none;
  z-index: 999;
}
.banner-container .banner-content .gradient-bg {
  /* width: 907.124px; */
  width: 100%;
  height: 873.865px;
  z-index: 0;
  position: absolute;
  top: 195px;
  pointer-events: none;
}
.banner-container .banner-content .banner-bottom {
  padding: 0 16px;
}
.banner-container .banner-content .banner-bottom .banner-three-li h6 {
  border: 1px solid #747897;
  border-radius: 100px;
  padding: 7px 10px;
  transition: all linear 0.3s;
  cursor: pointer;
  color: #37414a;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.banner-container .banner-content .banner-bottom .banner-three-li h6:hover {
  scale: 1.1;
}

/* banner @media query */
@media (min-width: 320px) {
  .banner-container {
    padding: 0 8px;
    height: 527px;
  }
  .banner-container .banner-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3c464e;
    text-transform: uppercase;
  }
  .banner-container .banner-content .banner-img {
    width: 374.002px;
    height: 432px;
    position: absolute;
    top: 95px;
    pointer-events: none;
    z-index: 999;
  }
  .banner-container .banner-content .gradient-bg {
    /* width: 907.124px; */
    width: 100%;
    height: 542px;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0;
    pointer-events: none;
  }
}
@media (min-width: 1280px) {
  .banner-container {
    padding: 0 8px;
    height: 1070px;
  }
  .banner-container .banner-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 350px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #3c464e;
    text-transform: uppercase;
  }
  .banner-container .banner-content .banner-img {
    width: 729.191px;
    height: 842.27px;
    position: absolute;
    top: 227px;
    pointer-events: none;
    z-index: 999;
  }
  .banner-container .banner-content .gradient-bg {
    /* width: 907.124px; */
    width: 100%;
    height: 873.865px;
    z-index: 0;
    position: absolute;
    top: 195px;
    pointer-events: none;
  }
}

/* where-bloom-container css start */
.where-bloom-container {
  background: #2e353b;
  border-radius: 16px;
  padding: 148px 190px;
}
.where-bloom-container .where-bloom-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 870px;
  height: 500px;
  overflow-x: hidden;
}
.where-bloom-container .where-bloom-content h2 {
  color: #cfd1da;
  text-align: left;
  align-items: start;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.where-bloom-container .where-bloom-content h2 span {
  color: #686a78;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
/* marquee */
.marquee-container h4 {
  color: #686a78;
  font-size: 24px;
  font-weight: 500;
  line-height: 14.961px;
  letter-spacing: -0.96px;
}
.marquee-container {
  overflow: hidden !important;
  scrollbar-width: none; /* Firefox */
}

.marquee-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* where bloom @media query */
@media (min-width: 320px) {
  .where-bloom-container {
    background: #2e353b;
    border-radius: 16px;
    padding: 56px 32px;
    margin-top: 8px;
  }
  .where-bloom-container .where-bloom-content h2 {
    color: #cfd1da;
    text-align: left;
    align-items: start;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.8px;
  }
  .where-bloom-container .where-bloom-content h2 span {
    color: #686a78;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.8px;
  }
  .where-bloom-container .where-bloom-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 310px;
    height: 340px;
    overflow-x: hidden;
  }
}
@media (min-width: 1280px) {
  .where-bloom-container {
    background: #2e353b;
    border-radius: 16px;
    padding: 148px 190px;
  }
  .where-bloom-container .where-bloom-content h2 {
    color: #cfd1da;
    text-align: left;
    align-items: start;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.8px;
  }
  .where-bloom-container .where-bloom-content h2 span {
    color: #686a78;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.8px;
  }
  .where-bloom-container .where-bloom-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 870px;
    height: 500px;
    overflow-x: hidden;
  }
}

/* selected-works-container css start */
.selected-works-container {
  margin-top: 8px;
  border-radius: 16px;
  background: #f2f2f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.selected-works-content {
  padding: 8px;
}
/* .selected-works-content .selected-works {
  padding: 24px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
} */
.selected-works-content .selected-works h3 {
  max-width: 270px;
  align-self: stretch;
  color: #2e353b;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
  padding-bottom: 16px;
}
.selected-works-content .selected-works p {
  max-width: 320px;
  align-self: stretch;
  color: #747897;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.128px;
}
.selected-works-content .bliss {
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: all linear 0.3s;
  flex: 1 0 0;
  aspect-ratio: 61/69;
  margin: auto;
}
.selected-works-content .bliss1 {
  background: #fff;
  height: 656px;
}
.selected-works-content .bliss img {
  flex: 1 0 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 592.5px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  aspect-ratio: 580/592.5;
  background-size: cover;
}
.selected-works-content .bliss img {
  transition: all linear 0.3s;
}
.selected-works-content .bliss img:hover {
  scale: 1.02;
  opacity: 60%;
}
.selected-works-content .bliss .bliss-icon {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 14.961px;
  letter-spacing: -0.96px;
}
.selected-works-content .bliss .bliss-bottom {
  padding: 16px 12px 10px 8px;
}
.selected-works-content .bliss .bliss-bottom h6 {
  color: #2e353b;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.128px;
}
.selected-works-content .bliss .bliss-bottom span {
  color: #747897;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
}

/* selected works section @media query */
@media (min-width: 320px) {
  .selected-works-content .selected-works h3 {
    max-width: 200px;
    align-self: stretch;
    color: #2e353b;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.8px;
  }
  .selected-works-content .selected-works {
    padding: 20px;
    height: 206px;
  }
  .selected-works-content .bliss {
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1px;
    align-items: center;
    transition: all linear 0.3s;
    flex: 1 0 0;
    aspect-ratio: 358/404.91;
    margin: 0;
    width: 100%;
  }
  .selected-works-content .bliss1 {
    background: #fff;
    height: 424.91px;
  }
  .selected-works-content .bliss img {
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 392.5px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    aspect-ratio: 580/592.5;
    background-size: cover;
  }
  .selected-works-content .bliss .bliss-bottom {
    padding: 12px 12px 10px 8px;
  }
}
@media (min-width: 1280px) {
  .selected-works-content .selected-works h3 {
    max-width: 270px;
    align-self: stretch;
    color: #2e353b;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.8px;
    padding-bottom: 0px;
  }
  .selected-works-content .selected-works {
    padding: 20px;
    height: 656px;
  }
  .selected-works-content .bliss {
    padding: 8px;
    border-radius: 12px;
    display: flex;
    height: 656px;
    gap: 1px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all linear 0.3s;
    flex: 1 0 0;
    aspect-ratio: 61/69;
    margin: auto;
  }
  .selected-works-content .bliss1 {
    background: #fff;
    height: 656px;
  }
  .selected-works-content .bliss img {
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 592.5px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    aspect-ratio: 580/592.5;
    background-size: cover;
  }
  .selected-works-content .bliss .bliss-bottom {
    padding: 16px 12px 10px 8px;
  }
}

/* services container css start */
.services-container {
  border-radius: 16px;
  background: #2e353b;
  padding: 56px 16px 16px 16px;
  margin-top: 8px;
}
.services-container .title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-container .title-content .subtitle {
  color: #cfd1da;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  border-radius: 100px;
  border: 1px solid #686a78;
  background: #2e353b;
  height: 34px;
  padding: 8px 12px;
}
.services-container .title-content .title {
  max-width: 350px;
  color: #cfd1da;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
  margin-top: 8px;
}
.services-container .branding-content {
  padding: 40px 16px 16px 16px;
  margin: auto;
}
.services-container .branding-content .branding-box {
  display: flex;
  height: 183.55px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  aspect-ratio: 169/110;
  border-radius: 12px;
  background: #353c43;
}
.services-container .branding-content .branding-box h4 {
  color: #cfd1da;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.52px;
  opacity: 0.6;
  transition: all linear 0.3s;
}
.services-container .branding-content .branding-box h4:hover {
  scale: 1.07;
}
.services-container .branding-content .available-box {
  height: 183.55px;
  flex: 1 0 0;
  aspect-ratio: 169/110;
  border-radius: 12px;
  opacity: 0.3;
  background: #37414a;
}

/* service section @media query */
@media (min-width: 320px) {
  .services-container .title-content .title {
    max-width: 350px;
    color: #cfd1da;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.8px;
    margin-top: 8px;
  }
  .services-container .branding-content .branding-box {
    display: flex;
    height: 100px;
    width: 100%;
    width: 342px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    aspect-ratio: 169/110;
    border-radius: 12px;
    background: #353c43;
  }
  .services-container .branding-content .available-box {
    height: 183.55px;
    flex: 1 0 0;
    aspect-ratio: 169/110;
    border-radius: 12px;
    opacity: 0.3;
    background: #37414a;
    display: none;
  }
}
@media (min-width: 1280px) {
  .services-container .title-content .title {
    max-width: 350px;
    color: #cfd1da;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.8px;
    margin-top: 8px;
  }
  .services-container .branding-content .branding-box {
    display: flex;
    height: 183.55px;
    width: 282px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    aspect-ratio: 169/110;
    border-radius: 12px;
    background: #353c43;
  }
  .services-container .branding-content .available-box {
    height: 183.55px;
    flex: 1 0 0;
    aspect-ratio: 169/110;
    border-radius: 12px;
    opacity: 0.3;
    background: #37414a;
    display: block;
  }
}

/* video section css start */
.video-container {
  margin-top: 8px;
}
.video-container .video-img {
  background: url("./components/Images/video.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 751px;
  margin: auto;
  border-radius: 12px;
  /* min-height: 100vh; */
}
.video-container .video-img h4 {
  max-width: 480px;
  color: #fff;
  display: flex;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.video-container .video-img .play-btn {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 40px;
  bottom: 40.199px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.8);
  flex-shrink: 0;
  color: #2e353b;
  transition: all linear 0.3s;
}
.video-container .video-img .play-btn:hover {
  scale: 1.05;
  cursor: pointer;
  color: #5d7a94;
}
/* working-bloom-container section css start */
.working-bloom-container {
  border-radius: 16px;
  background: #f2f2f7;
  margin-top: 8px;
  padding: 8px;
}
.working-bloom-container .working-bloom-content {
  background: #2e353b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
}
.working-bloom-container .working-bloom-content .work-bloom-img {
  background: url("./components/Images/with_bloom_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 651px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  flex: 1 0 0;
}
.working-bloom-container .working-bloom-content .text-content {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 651px;
  flex: 1 0 0;
  padding: 0 40px;
}
.working-bloom-container .working-bloom-content .text-content h3 {
  color: #cfd1da;
  width: 570px;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.32px;
}
.working-bloom-container .working-bloom-content .text-content span {
  color: #cfd1da;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.128px;
}
.working-bloom-container .working-bloom-content .text-content .author-content {
  padding-top: 24px;
}
.copy img {
  width: 100%;
  height: 100%;
}
/* location-container section css start */
.location-container {
  margin-top: 8px;
  border-radius: 12px;
  border-radius: 16px;
  padding: 8px;
  background: #f2f2f7;
}
.location-container .location-main-content {
  background: #fff;
  border-radius: 12px;
}
.location-container .title-content {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location-container .title-content .subtitle {
  color: #2e353b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  border-radius: 100px;
  border: 1px solid #2e353b;
  height: 34px;
  padding: 8px 10px;
}
.location-container .title-content .title {
  padding-top: 12px;
  color: #2e353b;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.location-container .title-content p {
  padding-top: 12px;
  color: #747897;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.128px;
  width: 320px;
}
.map-container {
  padding: 22px 0 55px 0;
}
.map-container .map {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
/* flexible plans section css start */
.flexible-container {
  margin-top: 8px;
  border-radius: 16px;
  background: #2e353b;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexible-container .flexible-left-content {
  width: 415px;
  padding: 40px;
  background: #2e353b;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.flexible-container .flexible-left-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
  align-self: stretch;
}
.flexible-container .flexible-left-content p {
  color: #cfd1da;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.128px;
  align-self: stretch;
  padding-top: 16px;
}
.flexible-container .flexible-left-content .flexible-input {
  padding: 27px 195px 27px 20px;
  margin-top: 24px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.128px;
}
.flexible-container .flexible-left-content .flexible-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.flexible-container .flexible-left-content .input-container {
  position: relative;
}
.flexible-container .flexible-left-content .input-container .toggle-svg {
  position: absolute;
  right: 20px;
  top: 40%;
}
/* right content */
.flexible-container .flexible-right-content {
  display: flex;
  padding: 72px 56px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 12px;
  background: var(--Black-02, #353c43);
}
.flexible-container .flexible-right-content .subtitle {
  color: #cfd1da;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  display: flex;
  height: 34px;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #686a78;
}
.flexible-container .flexible-right-content .dollar {
  padding-top: 20px;
  align-self: stretch;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.flexible-container .flexible-right-content .flexible-right-p {
  align-self: stretch;
  color: #cfd1da;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.128px;
  padding-top: 16px;
}
.flexible-container .flexible-right-content .new-project-list {
  padding-top: 40px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.128px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 18px;
}
.flexible-container .flexible-right-content .new-project-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flexible-container .flexible-right-content button {
  margin-top: 48px;
  display: flex;
  height: 56px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #fff;
  transition: all linear 0.3s;
}
.flexible-container .flexible-right-content button:hover {
  scale: 1.03;
  cursor: pointer;
  background: #b4b3b3;
  border: none;
}

/* blog section css start */
.blog-container {
  border-radius: 16px;
  background: #f2f2f7;
  margin-top: 8px;
  padding: 0 8px 8px 8px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-container .blog-title {
  padding: 72px 0 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.blog-container .blog-title h2 {
  width: 494px;
  color: #2e353b;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.blog-container .blog-title p {
  color: #747897;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.128px;
}

.blog-container .cart-section .fisrt-cart {
  background: #fff;
  padding: 8px;
  border-radius: 12px;
  transition: all linear 0.3s;
}
.blog-container .cart-section .fisrt-cart:hover {
  background: #e9e9e9;
}
.blog-container .cart-section .fisrt-cart img {
  flex: 1 0 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 592.5px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  aspect-ratio: 580/592.5;
  background-size: cover;
  transition: all linear 0.3s;
}
.blog-container .cart-section .fisrt-cart img:hover {
  scale: 1.01;
}
.blog-container .cart-section .fisrt-cart .first-cart-bottom {
  padding-top: 14px;
}
.blog-container .cart-section .fisrt-cart .first-cart-bottom h6 {
  align-self: stretch;
  color: #747897;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.blog-container .cart-section .fisrt-cart .first-cart-bottom p {
  max-width: 300px;
  align-self: stretch;
  color: #2e353b;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.18px;
  padding-top: 8px;
  padding-bottom: 12px;
}
/* faq section css start */
.faq-container {
  border-radius: 16px;
  background: #f2f2f7;
  margin-top: 8px;
  padding: 8px;
}
.faq-container .faq-content {
  border-radius: 12px;
  background: #fff;
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
  gap: 40px;
  align-self: stretch;
  margin: auto;
}
.faq-container .faq-content h2 {
  color: #2e353b;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
  width: 400px;
  text-transform: uppercase;
}
.accordian-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.accordian-container .accordian-content {
  padding: 16px 0;
}
.accordian-container .accordian-content .accordian-icon {
  margin-left: 8px;
  margin-right: 12px;
}
.accordian-container .accordian-content .accordian-answer {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 12px;
  max-width: 400px;
  align-self: stretch;
  color: #747897;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.128px;
}
.accordian-container .accordian-content .accordian-question {
  flex: 1 0 0;
  color: #2e353b;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.18px;
}
/* footer section css start */
.footer-container {
  border-radius: 16px;
  background: #f2f2f7;
  margin-top: 8px;
  padding: 24px;
  position: relative;
  height: 850px;
  padding: 24px;
}
.footer-container .footer-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}
.footer-container .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.footer-container .footer-top ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer-container .footer-top ul li {
  display: flex;
  padding: 8px 10px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #747897;
  background: rgba(255, 255, 255, 0.2);
  color: #37414a;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  transition: all linear 0.3s;
}
.footer-container .footer-top ul li:hover {
  scale: 1.06;
}
.footer-container .footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 999;
}
.footer-container .footer-title {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  transform: translate(-50%, -50%);
}
.footer-container .footer-title h2 {
  align-self: stretch;
  color: #2e353b;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.footer-container .footer-title button {
  display: flex;
  height: 56px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all linear 0.3s;
}
.footer-container .footer-title button:hover {
  scale: 1.03;
}
.footer-container .footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
}
.footer-container .footer-bottom .link-tag a {
  color: #2e353b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.footer-container .footer-bottom .footer-copyright {
  color: #2e353b;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
}
